<%- include('../partials/_head.ejs') %>

<div class="container">
  <% include('../partials/_message.ejs') %>
  <div class="row">
    <div class="col">
      <h1>Hello : <%= email %></h1>
      <a href="/logout">logout</a>
    </div>
  </div>
</div>

<%- include('../partials/_foot.ejs') %>
